<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bbs</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.congbbs.servlet.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.congbbs.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessageList</servlet-name>
    <servlet-class>com.congbbs.servlet.GetMessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessageList</servlet-name>
    <url-pattern>/GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>com.congbbs.servlet.GetMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/GetMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommitReply</servlet-name>
    <servlet-class>com.congbbs.servlet.CommitReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitReply</servlet-name>
    <url-pattern>/CommitReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsgPublish</servlet-name>
    <servlet-class>com.congbbs.servlet.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgPublish</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.congbbs.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>